@model FinalExamCorrection.Models.Exam

@{
    ViewData["Title"] = "SubmitExam";
}

<h1>Exam submitted successfully</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crs.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stud.Fname)
        </dd>
    </dl>
</div>

